<div style="display: flex; min-width: '100%';">
    <div id="map" class="map" style="margin-right: 20px; width: 100vmax;"></div>
  <!-- <div style="flex: 1;"><h1>{{ breederName }}</h1><img [src]="breederImage" width="30vmax" height="0vmax" /></div> -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ breederName }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3" style="display: inline">
          <div style="float: left; margin-right: 20px;">
            <img [src]="breederImage" width="100">
          </div>
          <div style="float: left;">
            <div style="display: inline;">
              <div style="float: left;">
                <p style="font-weight: bold;">Animals bred</p>
                <p>{{ animalsBred }}</p>
              </div>
                <div style="float: right; text-align: right; max-width: 50%;">
                <p style="font-weight: bold;">Location</p>
                <p>{{ breederLocation }}</p>
              </div>
            </div>
            <br>
            <div style="display: inline;">
              <div style="float: left;">
                <p style="font-weight: bold;">Phone number</p>
                <p>{{ breederPhoneNumber }}</p>
              </div>
              <div style="float: right; text-align: right; max-width: 50%; word-wrap: break-word;">
                <p style="font-weight: bold;">Email</p>
                <p>{{ breederEmail }}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>
</div>